# Build artifacts
*.o
*.a
*.moc
moc_*.cpp
Makefile
.qmake.stash

# Executables
server/server
client/client
tests/**/test_*/test_*
moc_predefs.h

# Qt Creator
*.pro.user

# OS files
.DS_Store
Thumbs.db
